In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [4]:
insurance_df = pd.read_excel('Motor RP Analyst Interview Activity.xlsx', sheet_name='Data')
insurance_df.head()

,id,start_date,exposure,net_earned_premium,net_written_premium,claim_count,is_capped_incurred,incurred,capped_incurred,bi_incurred,...,vehicle_make,d1_age,d1_residency_years,d1_is_uk_resident,transmission,region,gender,vehicle_purchase_date,licence_test_date,primary_car_colour
0,16042,2019-02-28,0.002740,0.00000,0.0000,0,NaN,NaN,NaN,NaN,...,FIAT,20,20,1,MANUAL,East Midlands,Male,2019-02-01 00:00:00,2016-11-26,Blue
1,41414,2019-03-20,1.000000,238.33650,238.3365,0,NaN,NaN,NaN,NaN,...,FORD,25,25,1,MANUAL,South East,Female,2017-11-01 00:00:00,2012-03-12,Grey
2,58837,2019-11-29,0.420765,77.31347,183.7450,0,NaN,NaN,NaN,NaN,...,PEUGEOT,42,42,1,MANUAL,West Midlands,Female,2016-09-01 00:00:00,1994-11-09,Silver
3,65415,2019-02-17,1.000000,494.98150,246.5586,0,NaN,NaN,NaN,NaN,...,NISSAN,31,31,1,AUTOMATIC,North West,Female,2019-02-16 00:00:00,2019-07-01,White
4,81565,2018-04-24,1.000000,120.05060,120.0506,0,NaN,NaN,NaN,NaN,...,KIA,61,61,1,MANUAL,South West,Male,2013-06-01 00:00:00,1974-04-07,Silver

## Quick Checks

In [7]:
insurance_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 40 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   id                      100000 non-null  int64
 1   start_date              100000 non-null  datetime64[ns]
 2   exposure                100000 non-null  float64
 3   net_earned_premium      99978 non-null   float64
 4   net_written_premium     100000 non-null  float64
 5   claim_count             100000 non-null  int64
 6   is_capped_incurred      7419 non-null    float64
 7   incurred                7419 non-null    float64
 8   capped_incurred         7419 non-null    float64
 9   bi_incurred             7419 non-null    float64
 10  ad_incurred             7419 non-null    float64
 11  pd_incurred             7419 non-null    float64
 12  th_incurred             7419 non-null    float64
 13  ws_incurred             7419 non-null    float64
 14  bi_count                7419 non-null    float64
 15  ad_count                7419 non-null    float64
 16  pd_count                7419 non-null    float64
 17  th_count                7419 non-null    float64
 18  ws_count                7419 non-null    float64
 19  business_provider       100000 non-null  object
 20  cover                   100000 non-null  object
 21  voluntary_xs            100000 non-null  int64
 22  ncd                     100000 non-null  int64
 23  pncd                    100000 non-null  object
 24  vehicle_use             100000 non-null  object
 25  entitlement             100000 non-null  object
 26  overnight_location      100000 non-null  object
 27  vehicle_value           100000 non-null  int64
 28  vehicle_annual_mileage  100000 non-null  int64
 29  vehicle_age             100000 non-null  int64
 30  vehicle_make            99224 non-null   object
 31  d1_age                  100000 non-null  int64
 32  d1_residency_years      100000 non-null  int64
 33  d1_is_uk_resident       100000 non-null  int64
 34  transmission            99223 non-null   object
 35  region                  99858 non-null   object
 36  gender                  100000 non-null  object
 37  vehicle_purchase_date   100000 non-null  object
 38  licence_test_date       99993 non-null   datetime64[ns]
 39  primary_car_colour      83736 non-null   object
dtypes: datetime64[ns](2), float64(16), int64(10), object(12)
memory usage: 30.5+ MB

In [8]:
insurance_df.columns

Index(['id', 'start_date', 'exposure', 'net_earned_premium',
       'net_written_premium', 'claim_count', 'is_capped_incurred', 'incurred',
       'capped_incurred', 'bi_incurred', 'ad_incurred', 'pd_incurred',
       'th_incurred', 'ws_incurred', 'bi_count', 'ad_count', 'pd_count',
       'th_count', 'ws_count', 'business_provider', 'cover', 'voluntary_xs',
       'ncd', 'pncd', 'vehicle_use', 'entitlement', 'overnight_location',
       'vehicle_value', 'vehicle_annual_mileage', 'vehicle_age',
       'vehicle_make', 'd1_age', 'd1_residency_years', 'd1_is_uk_resident',
       'transmission', 'region', 'gender', 'vehicle_purchase_date',
       'licence_test_date', 'primary_car_colour'],
      dtype='object')